/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .leftnav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }